main {
   background-color: #da6a8a94;
}

.nav {
    background-color: #b20838d0;
    color: black;
    font-weight: bold;
        display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    padding: 0 70px;
}


.card4 {
    background-color: lightgray;
    width: 100% !important;
    padding: 0 !important;
    z-index: 1;
    float: right;
}



.card2 {
    background-color: lightgray;
    border: 3px solid black;
}


.logo1 {
    width: 200px;
    height: 200px;
    float: left;
    background-color: lightgray;
}

.logo2 {
    width: 200px;
    height: 200px;
    float: right; 
    background-color: lightgray;
}

.special {
    color: blue;
}

.card3 {
    background-color: lightgray;
   border: 3px solid black;
    
}