main {
   background-color: #da6a8a94;
}

.nav {
    background-color: #b20838d0;
    color: black;
    font-weight: bold;
}

.card4 {
    background-color: lightgray;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: 1;
}