main {
   background-color: #da6a8a94;
  
}

.nav {
    background-color: #b20838d0;
    color: black;
    font-weight: bold;
        display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    padding: 0 70px;
}


.card {
    background-color: lightgrey;
    border-color: lightgrey;
    
    
}

h1 {
    text-align: center;
}

.smiley {
    height:200px;
    width: 200px;
    float: left;
    padding-right: 2px;
    
}

.worry {
    height:200px;
    width: 250px;
    float: right;
    padding-left: 3px;

}

.card1 {
  background-color: lightgray;
  width: 100%;
  border: 5px solid rgb(255, 98, 98);
}

.card2 {
  background-color: lightgray;
  border: 5px solid rgb(255, 98, 98);
}

.card3 {
  background-color: lightgray;
  border: 5px solid rgb(255, 98, 98);
}

.card4 {
  background-color: lightgray;
    border: 5px solid rgb(255, 98, 98);
}

.card5 {
  background-color: lightgray;
  border: 5px solid black;
}

.card6 {
  background-color: lightgray;
  border: 5px solid black;
}

h3 {
  color: black;
  font-weight: bold;
}




