.nav {
    background-color: #b2083894;
    color: black;
    font-weight: bold;
}

.card {
    background-color: lightgrey;
    border-color: lightgrey; 
    
}

.smiley {
    height:50%;
    width: 50%;
    float: right;

}

.worry {
    height:50%;
    width: 50%;
    float: right;

}








