main {
   background-color: #da6a8a94;
}

.nav {
    background-color: #b20838d0;
    color: black;
    font-weight: bold;
        display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    padding: 0 70px;
}


.card {
    background-color: lightgrey;
    border-color: lightgrey; 
    
}

h1 {
    text-align: center;
}

.smiley {
    height:100px;
    width: 150px;
    float: right;

}

.worry {
    height:100px;
    width: 150px;
    float: left;

}

.card1 {
  background-color: lightgray;
  width: 100%;
}

.card2 {
  background-color: lightgray;
}

.card3 {
  background-color: lightgray;
}

.card4 {
  background-color: lightgray;
}
