.nav {
    background-color: #b2083894;
    color: black;
    font-weight: bold;
}

.card2 {
    background-color: lightgray;
    border-color: black;
    border-width: thick;
}

.card3 {
    background-color: lightgray;
}

.card {
    background-color: lightgray;
    border-color: black; 
    border-width: thick;
}

.cardy1 {
    width: 25%;
    height: 25%;
    float: right;
}

.cardy2 {
    float: right;
}

.cardy3 {
    float: right;
}

.cardy4 {
    float: right;
}

h3 {
    font-weight: bold;
    color: black;
}

.cardy11 {
   float: right;
}

.cardy12 {
   float: right;
}

.cardy13 {
   float: right;
}