.nav {
    background-color: #b2083894;
    color: black;
    font-weight: bold;
}

.card3 {
    background-color: lightgray;
}

.card {
    background-color: lightgray;
    border-color: lightgray; 
}

.cardy1 {
    width: 25%;
    height: 25%;
}

.cardy2 {
    float: right;
}