.nav {
    background-color: #b20838d0;
    color: black;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    padding: 0 70px;
}


main {
   background-color: #da6a8a94;
}

h3 {
    color: black;
}

.card {
    background-color: lightgray;
    width: 100%;
}

.card1 {
    background-color: lightgray;
    border: 3px solid black;
}

.card2 {
    background-color: lightgray;
     border: 3px solid black; 
}

.card3 {
     background-color: lightgray;
     border: 3px solid black;
}

.card4 {
    background-color: lightgray;
    border: 3px solid black;
}

.card5 {
    background-color: lightgray;
    border: 3px solid black;
    color: blue;
   
}

.card6 {
    background-color: lightgray;
    border: 3px solid black;
    color: blue;
    float: right;
}

.card7 {
   background-color: lightgray;
    border: 3px solid black;
    color: blue;
    float: right;  
}


.logo1 {
   width: 200px;
   height: 200px;
   float: right;
}

.logo2 {
    width: 200px;
    height: 200px;
    float: left;
}

ul {
    font-weight: bold;
    color: black;
}