.card1 {
    background-color: #d498a9;
    border: solid  2px;
    border-color: #d498a9;
}

/* rider color #b20838 */


.logo {
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.body {
    background-color: 
}

.nav {
    background-color: #b20838d0;
    color: black;
    font-weight: bold;
    text-align: center; 
}

.card2 {
    background-color: lightgray;
    width: 100%;
}