

/* rider color #b20838 */


.logo {
    height: 50%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #da6a8a94;
}

.nav {
    background-color: #b20838d0;
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    padding: 0 70px;
}

.card2 {
    background-color: lightgray;
    width: 100%;
}

h1 {
    color: black;
}

.card1 {
    background-color: lightgray;
    border: 3px solid black;
    border-width: thick;
}

h4 {
    color: black;
}

.money {
    width: 3px;
    height: 5px;
}