.card1 {
    background-color: #d498a9;
    border: solid  2px;
    border-color: #d498a9;
}

/* rider color #b20838 */


.logo {
    height: 50%;
    width: 50%;
}

.body {
    background-color: white;
}

.nav {
    background-color: #b2083894;
    color: black;
    font-weight: bold;
}